EXPO_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

EXPO_PUBLIC_RESTAURANT_NAME=Senate Hotel Juja
EXPO_PUBLIC_RESTAURANT_ADDRESS=Senate Hotel Juja, Meru - Nairobi Hwy, Juja
EXPO_PUBLIC_RESTAURANT_LATITUDE=-1.1059
EXPO_PUBLIC_RESTAURANT_LONGITUDE=37.01564

EXPO_PUBLIC_DELIVERY_FEE_PER_KM=50
EXPO_PUBLIC_DELIVERY_FIRST_KM_FEE=50
EXPO_PUBLIC_DELIVERY_INCLUDED_KM=1
